{% extends "base.html.jinja" %}
{% block content %}
    <div class="image-container">
        <div class="image-content">
            <img src="/jukebox/assets/jukeboxbot_fund.png" alt="JukeboxBot" />
            <div class="qr-code-container">
                <img id="qr-code-image" alt="QR code image" lnurl="{{ lnurl }}">
            </div>
            <button class="copy-data" aria-label="Copy LNRUL"></button>
        </div>
    </div>
    <script src="{{ request.url_for('static', path='/js/jukebox/fund.js') }}"></script>
{% endblock content %}
