{% extends "base.html.jinja" %}
{% block content %}
    <form onsubmit="submitSearch(); return false;" action="">
        <div class="image-container">
            <div class="image-content">
                <img src="{{ request.url_for('static', path='/img/jukeboxbot_addmusic.png') }}"
                     alt="JukeboxBot"
                     width="100%"
                     height="100%" />
                <div class="search-container">
                    <input name="query" value="" placeholder="Enter song title">
                </div>
                <button class="search-button" type="submit" aria-label="Search"></button>
                <div class="search-results-container">
                    <div class="search-result-container"></div>
                    <div class="search-result-container"></div>
                    <div class="search-result-container"></div>
                    <div class="search-result-container"></div>
                    <div class="search-result-container"></div>
                </div>
            </div>
        </div>
    </form>
    <script src="{{ request.url_for('static', path='/js/jukebox/web/index.js') }}"></script>
{% endblock content %}
